# WhatsApp Cloud API
WHATSAPP_TOKEN=EAAX1ugQyQ7gBSdO6BQAMlmZCDf6BXxfehsMFhiDwGBZCj8OKGF7STnPudiHE4bAuNFLyGI1Ws0TcydwH7gKFqXjFuL4OHZACl6TiTjkG4waqS9ayCoZA6P2yZCP42nFZB37F6hVQW8AT7rHzZBeZBEw7zeU9iXZBKSsXtXESDer59E9y1hu0nTaSZApP4grgznLe1YMbGNLGmVOVIFZCnqZB14Yr10xZCb6or2NtQt6QL8qBPkv83dhml4NviJOX0WDzge9vCSUUBufrE0JEFQWJKwvmu

WHATSAPP_API_VERSION=v21.0

# Webhook verification
VERIFY_TOKEN=mi_token_secreto_123

# Gemini
GEMINI_API_KEY=tu_api_key_gemini
GEMINI_MODEL=gemini-1.5-flash

WHATSAPP_PHONE_ID=1403008209552899

# App
APP_HOST=0.0.0.0
APP_PORT=8000
DEBUG=true